@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;700&display=swap');

* {
  font-family: 'Noto Sans Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  background: #121f3d;
  color: #fff;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
